$background :  #20222b;
$grey : #666;
$dark-grey : #333333;
$blue : #1c88bf;
$dark-blue : #364051;
$off-white : #f7f7f7;
$body-background : #333745;
$link-color : #A5AFD7;
$widget-header-bg : #3C4251;
$widget-body-bg : #464b5e;
$text-gradient : linear-gradient(to left, #654ea3, #eaafc8);

$border-bottom : 1px solid #5B6178;

$xl-size : 4.8rem;
$l-size : 3.2rem;
$m-size : 1.6rem;
$s-size : 1.2rem;

$mobile-breakpoint : 45rem;

//font size
$font-size-large : 1.8rem;
$font-size-small : 1.4rem;